.home {
    background-image: url('../public/images/background.webp'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .description {
    text-align: center;
    color: #fff;
  }
  